/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Rubik', sans-serif;
font-family: 'Hammersmith One', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
}

/* BODY */
  body{
  
  }

/* TOPO */
  header {
    background-color: #4475b3;
    min-height: 90px;
  }
    header a {
      text-decoration: none;
    }
      header a img { 
        padding-top: 16px;
        width: 100%;
        max-width: 225px;
      }
    header .navbar {

    }
      header .navbar #botao-menu{
        display: none;
      }
      header .navbar .navbar-header {
        width: 100%;
      }
        header .navbar .navbar-header .navbar-nav{
          width: 100%;
          max-width: 627px;
          margin: auto 108px;
        }
          header .navbar .navbar-header .navbar-nav li {
            padding: 15px 0 0 34px;
            display: inline-block;
            text-align: right;
            float: initial;
          }
            header .navbar .navbar-header .navbar-nav li a{
              color: #fff;
              text-transform: uppercase;
            }

/*RODAPÉ*/
  .rodape{

  }
  footer{

  }

/*COPYRIGHT*/
  .copyright{

  }

/*PG*/
  .pg{

  }

/*PÁGINA INICIAL*/
  .pg-inicial{

  }
    .pg-inicial .carrosselDestaque{ 
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      height: auto;
      position: relative;
    }
    .pg-inicial .carrosselDestaque::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #00000080;
      z-index: 2;
    }
      .pg-inicial .carrosselDestaque a  { 
        text-decoration: none;
        color: #fff;
      }
      .pg-inicial .carrosselDestaque a .item{ 
        background-size: cover!important;
        background-position: center!important;
        min-height: 450px;
      }
        .pg-inicial .carrosselDestaque a .item .textoPostPrincipal {

        }
          .pg-inicial .carrosselDestaque a .item .textoPostPrincipal img{ 
    
          }
          .pg-inicial .carrosselDestaque a .item .textoPostPrincipal h3 {
            text-transform: uppercase;
            font-size: 15px;
          }
          .pg-inicial .carrosselDestaque a .item .textoPostPrincipal h2 {

          }
          .pg-inicial .carrosselDestaque a .item .textoPostPrincipal strong {

          }
    .pg-inicial .postsMaisLidos {

    }
      .pg-inicial .postsMaisLidos ul {

      }
        .pg-inicial .postsMaisLidos ul li {

        }
          .pg-inicial .postsMaisLidos ul li a{

          }
            .pg-inicial .postsMaisLidos ul li a figure {

            }
              .pg-inicial .postsMaisLidos ul li a figure img {

              }
            .pg-inicial .postsMaisLidos ul li a .informacoesPost {

            }
              .pg-inicial .postsMaisLidos ul li a .informacoesPost h3 {

              }
              .pg-inicial .postsMaisLidos ul li a .informacoesPost h2{

              }
              .pg-inicial .postsMaisLidos ul li a .informacoesPost span{

              }
    .pg-inicial .carrosselProdutos {

    }
      .pg-inicial .carrosselProdutos .carrosselProdutosDestaque{

      }
        .pg-inicial .carrosselProdutos .carrosselProdutosDestaque ul {

        } 
          .pg-inicial .carrosselProdutos .carrosselProdutosDestaque ul .itemProdutoDestaque{

          }
            .pg-inicial .carrosselProdutos .carrosselProdutosDestaque ul .itemProdutoDestaque a{

            }
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque ul .itemProdutoDestaque a span{

              }
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque ul .itemProdutoDestaque a figure{

              }
                .pg-inicial .carrosselProdutos .carrosselProdutosDestaque ul .itemProdutoDestaque a figure img{

                }
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque ul .itemProdutoDestaque a h3{

              }
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque ul .itemProdutoDestaque a hr{

              }
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque ul .itemProdutoDestaque a span{

              }
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque ul .itemProdutoDestaque a .precoSemDesconto{

              }
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque ul .itemProdutoDestaque a h4{

              }
              .pg-inicial .carrosselProdutos .carrosselProdutosDestaque ul .itemProdutoDestaque a .precoParcelado{

              }
    .pg-inicial .sessaoPosts {

    }
      .pg-inicial .sessaoPosts .postPaginaInicial {
      
      } 
        .pg-inicial .sessaoPosts .postPaginaInicial figure{
      
        } 
          .pg-inicial .sessaoPosts .postPaginaInicial figure img{
      
          }
        .pg-inicial .sessaoPosts .postPaginaInicial article{
      
        }
          .pg-inicial .sessaoPosts .postPaginaInicial article h3{
      
          }
          .pg-inicial .sessaoPosts .postPaginaInicial article h2{
      
          }
          .pg-inicial .sessaoPosts .postPaginaInicial article .dataDoPost{
      
          }
          .pg-inicial .sessaoPosts .postPaginaInicial article p{
      
          }
    .pg-inicial .sidebar {

    }
      .pg-inicial .sidebar .areaNewsletter {
      
      }
        .pg-inicial .sidebar .areaNewsletter span{
      
        }
          .pg-inicial .sidebar .areaNewsletter span i{
      
          } 
        .pg-inicial .sidebar .areaNewsletter p{
      
        }
          .pg-inicial .sidebar .areaNewsletter p strong{
      
          }
        .pg-inicial .sidebar .areaNewsletter input[type="text"]{
      
        }
        .pg-inicial .sidebar .areaNewsletter input[type="submit"]{
      
        }
    .pg-inicial .tags {

    } 
      .pg-inicial .tags span {

      }
      .pg-inicial .tags h3 {

      }
    .pg-inicial .areaProdutos {

    }
      .pg-inicial .areaProdutos h3 {

      }
      .pg-inicial .areaProdutos .itemCarrosselSidebar {

      }
        .pg-inicial .areaProdutos .itemCarrosselSidebar span{

        }
          .pg-inicial .areaProdutos .itemCarrosselSidebar a{

          }
            .pg-inicial .areaProdutos .itemCarrosselSidebar a figure{

            }
              .pg-inicial .areaProdutos .itemCarrosselSidebar a figure img{

              }
            .pg-inicial .areaProdutos .itemCarrosselSidebar a .nomeDoProduto{

            }
        .pg-inicial .areaProdutos .itemCarrosselSidebar hr{

        }
        .pg-inicial .areaProdutos .itemCarrosselSidebar .classificacaoProduto{

        }
        .pg-inicial .areaProdutos .itemCarrosselSidebar .precoSemDesconto{

        }
        .pg-inicial .areaProdutos .itemCarrosselSidebar .precoAtual{

        }
        .pg-inicial .areaProdutos .itemCarrosselSidebar .precoParcelado{

        }
    .pg-inicial .sessaoBannerPropaganda {

    }   
      .pg-inicial .sessaoBannerPropaganda a{

      } 
        .pg-inicial .sessaoBannerPropaganda a figure{

        }  
          .pg-inicial .sessaoBannerPropaganda a figure img{

          } 
    .pg-inicial .paginador {

    }
      .pg-inicial .paginador ul {

      }
        .pg-inicial .paginador ul li {

        }
          .pg-inicial .paginador ul li a {

          }
            .pg-inicial .paginador ul li a img {

            }

/* PÁGINA DE CONTATO */
  .pg-contato {
    padding-bottom: 100px;
  }
    .pg-contato .mensagem {

    }
      .pg-contato .mensagem h2 {
        font-weight: bold;
        font-size: 36px;
        width: 100%;
        max-width: 445px;
        margin: 94px auto 34px;
      }
      .pg-contato .mensagem p {
        font-size: 16px;
        margin-bottom: 35px;
        width: 100%;
        max-width: 445px;
        margin: 32px auto 52px;
      }
      .pg-contato .mensagem .envieSuaMensagem {
        background: #4475b3;
        padding: 20px;
        width: 100%;
        max-width: 445px;
        height: 475px;
        display: block;
        margin: 0 auto;
      }
      .pg-contato .mensagem .envieSuaMensagem h3 {
        font-size: 24px;
        color: white;
        display: block;
        margin: 22px auto;
        width: 100%;
        max-width: 316px;
      }
      .pg-contato .mensagem .envieSuaMensagem input {
        margin: 27px auto;
        font-size: 12px;
        width: 100%;
        max-width: 318px;
        height: 40px;
        text-indent: 17px;
        color: #adadad;
        border: none;
        display: block;

      }
      .pg-contato .mensagem .envieSuaMensagem textarea {
        height: 130px;
        text-indent: 7px;
        color: #adadad;
        font-size: 12px;
        border: none;
        width: 100%;
        max-width: 318px;
        margin: 9px auto;
        display: block;
        padding: 13px;
      }
    .pg-contato .contato {
      width: 100%;
      max-width: 520px;
      margin: 0 auto;
    }
      .pg-contato .contato .endereco {
        padding-top: 235px;
      }
        .pg-contato .contato .endereco h3{
          font-weight: bold;
          position: relative;
          padding-left: 37px;
        }
        .pg-contato .contato .endereco h3:before{
          content: " ";
          display: block;
          background: url(../img/maps.png);
          width: 18px;
          height: 22px;
          background-repeat: no-repeat;
          position: absolute;
          left: 0;
          top: 0;
        }
        .pg-contato .contato .endereco p{
          padding-left: 38px;
      }
      .pg-contato .contato .numero {
        padding-top: 10px;
      }
        .pg-contato .contato .numero h3{
          font-weight: bold;
          padding-left: 39px;
          position: relative;
        }
        .pg-contato .contato .numero h3:before {
          content: " ";
          display: block;
          background: url(../img/telefone.png);
          width: 20px;
          height: 22px;
          background-repeat: no-repeat;
          position: absolute;
          left: 0;
          top: 0;
        }
        .pg-contato .contato .numero p{
          padding-left: 42px;
        }


/* PÁGINA DE NEWSLETTER */
  .pg-newsletter {
    margin-bottom: 100px;
  }
  .pg-newsletter figure {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
  }
  .pg-newsletter figure img {
    width: 100%;
    height: auto;
  }
  .pg-newsletter article {
    background: #0f76b7;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
  }
    .pg-newsletter article .textosArticle {
      width: 100%;
      max-width: 608px;
      margin: 0 auto;
    }
      .pg-newsletter article .textosArticle p{
        color: white;
        text-align: left;
        font-size: 21px;
        width: 100%;
        max-width: 355px;
        position: relative;
        padding-left: 80px;
      }
        .pg-newsletter article .textosArticle p i{
          font-size: 60px;
          position: absolute;
          left: 0;
          top: 0px;
          display: block;
        }
      .pg-newsletter article .textosArticle input{
        border: 1px solid white;
        background: transparent;
        color: #b1b1b1;
        width: 100%;
        max-width: 165px;
        height: 42px;
        text-indent: 20px;
        margin-right: 5px;
      }
        /* Chrome, Safari, Opera */
        .pg-newsletter article .textosArticle input::-webkit-input-placeholder {
          color: #b1b1b1;
        }

        /* Firefox 18- */
        .pg-newsletter article .textosArticle input:-moz-placeholder {
          color: #b1b1b1;
        }

        /* Firefox 19+ */
        .pg-newsletter article .textosArticle input::-moz-placeholder {
          color: #b1b1b1;
        }

        /* IE10+ */
        .pg-newsletter article .textosArticle input:-ms-input-placeholder {
          color: #b1b1b1;
        }
     
      .pg-newsletter article .textosArticle .email {
        width: 100%;
        max-width: 270px;
      }
      .pg-newsletter article .textosArticle input[type="submit"] {
        background: white;
        border: none;
        text-indent: 0px;
        color: #0f76b7;
        font-weight: bold;
        width: 100%;
        max-width: 134px;
      }
      
/*EXTRAS*/

/*@MEDIA QUERY*/
  @media(max-width: 1200px){
    .pg-contato .contato {
      max-width: 386px;
    }
  }

  @media(max-width: 991px){
    .pg-contato .contato {
      padding-left: 50px;
      padding-top: 17px;
    }
    .pg-contato .mensagem h2{
      font-size: 34px;
    }
  }
  @media(max-width: 768px){
    header .navbar #botao-menu {
      display: block;
      background: transparent;
      border: 1px solid #fff;
    }
    .topo .navbar button span {
      background-color: #fff;
    }
    .pg-contato .contato .endereco {
      padding-top: 30px;
    }
    .pg-contato .contato {
      width: 100%;
      max-width: 415px;
      margin: 0 auto;
      padding: 12px;
      padding-top: 17px;
    }
    .pg-contato .mensagem h2 {
      font-size: 32px;
    }
    .pg-newsletter article .textosArticle p {
      margin: 10px auto;
    }
    .pg-newsletter article .textosArticle input, .pg-newsletter article .textosArticle .email {
      display: block;
      margin: 12px auto;
      max-width: 440px;
    }
  }

  @media(max-width: 425px){
    .pg-contato .mensagem h2 {
      padding: 10px;
      font-size: 30px;
    }
    .pg-contato .mensagem p {
      padding: 10px 10px 0;
    }
    .pg-newsletter article .textosArticle {
      padding-left: 8px;
    }
  }